//laptop 1024px
@media screen and (max-width: 1024px) {
  .approval-payment-input-signIn-button button {
    padding: 8px !important;
  }
  .payment-details-input-left {
  }
  .paymnent-details-input-right {
    //margin-left: 10px !important;
    input[type="text"] {
      width: 100% !important;
    }
    input[type="datetime"],
    input[type="number"] {
      width: 180px !important;
    }
  }
}
//media 768px
@media screen and(max-width:768px) {
  .quotation-table-content {
    .unit,
    .amount {
      width: 105px !important;
    }
  }
  //table .group-product
  .amount-price {
    .group-product-row-subtotal {
      .group-total {
        width: 100px !important;
      }
    }
    .discount {
      width: 150px !important;
    }
  }

  //payment details
  .payment-details button {
    font-size: 13px !important;
  }
  .payment-details-input-left {
    margin-right: 10px !important;
  }
  .paymnent-details-input-right {
    margin-left: 10px !important;
    input[type="text"] {
      width: 100% !important;
    }
    input[type="datetime"],
    input[type="number"] {
      width: 130px !important;
    }
  }

  //approval and payments
  .approval-and-payment-input-content {
    margin-right: 20px;
  }
  .approval-and-payment-input {
    input {
      width: 190px;
    }
  }
  .approval-and-payment-input-signIn {
    width: 50% !important;
    .approval-payment-input-signIn-button button {
      font-size: 14px !important;
      padding: 4px !important;
    }
  }
}
// media 425px
@media screen and(max-width: 425px) {
  .container {
    width: 90% !important;
  }
  p {
    font-size: 13px !important;
  }
  //logo company
  .logo-profile {
    img {
      width: 50px !important;
    }
    h3 {
      font-size: 16px !important;
    }
  }
  .quotation-date-text {
    .quotation-date-text {
      top: -10px !important;
    }
  }
  //company-profile
  .quotation-company-profile,
  .quotation-user-profile {
    margin-top: 60px !important;
  }
  //table content
  .group-product {
    margin-top: 20px !important;
  }

  .quotation-table-content {
    th {
      font-size: 13px !important;
    }
    td {
      font-size: 13px !important;
      padding: 4px !important;
    }

    .qty {
      display: flex;
      align-items: center;
      padding-top: 8px !important;
    }
    .qty input[type="checkbox"] {
      margin-left: 6px;
    }
    .unit,
    .amount {
      width: 65px !important;
    }
  }
  .amount-price {
    .discount,
    .group-total {
      width: 100px !important;
    }

    .amount-discount {
    }
  }
  //approval and payment
  .approval-and-payment-title h3 {
    font-size: 16px !important;
  }
  .payment-details-title h3 {
    font-size: 16px !important;
  }
  .approval-and-payment-input {
    flex-direction: column;
    input {
      width: 100%;
    }
    .approval-and-payment-input-content {
      margin-right: 0px !important;
      margin-bottom: 15px;
      input {
        font-size: 13px !important;
      }
    }
  }
  .approval-and-payment-input-signIn {
    width: initial !important;
    .approval-payment-input-signIn-button {
      button {
        font-size: 13px !important;
        height: 40px;
      }
      .active {
        margin-right: 9px !important;
      }
    }
  }
  //payment details
  .payment-details-input-wrapper {
    flex-direction: column;
    .payment-details-input-left {
      margin-right: 0 !important;
    }
    label,
    input {
      font-size: 13px !important;
    }
    input[type="text"] {
      width: 100% !important ;
    }
    input[type="datetime"] {
      width: 100% !important ;
    }
  }
  .payment-details-content-title-wrapper {
    .active {
      border-bottom: 3px solid !important;
    }
  }
  .paymnent-details-input-right {
    margin-left: 0px !important;
  }
}
//media 375px
@media screen and (max-width: 375px) {
  .quotation-table {
    overflow-x: auto;
    white-space: nowrap;
  }
  .amount-price {
    margin-left: 101px;
  }
}
//media 320px
@media screen and (max-width: 320px) {
  .amount-price {
    margin-left: 149px;
  }
  .approval-payment-input-signIn-button {
    button,
    .active {
      // height: 40px;
      text-align: center;
      padding: 0px !important;
      font-size: 4px !important;
    }
  }
  .payment-details-content {
    padding: 10px !important;
  }

  .payment-details-title-content {
    margin-right: 23px !important;
  }
}
